<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{countrymsg?.countryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="descipte">
    <p class="desc" [innerHTML]="countrymsg?.describe | htmlpipe"></p>
  </div>
  <div class="travelinfo">
    <h5>出行信息：</h5>
    <p class="travels">{{countrymsg.travelContent ? countrymsg.travelContent :'暂无'}}</p>
  </div>
</ion-content>
