@import "src/theme/dark-blue";
.descipte {
  color: var(--ion-text-color);
  padding: 1.2em 1.5em;
  font-size: 16px;
}
.travelinfo{
  padding: 0 1.4em;
  h5{
    margin-top: 0;
  }
  .travels{
    font-size: 1.8rem;
    line-height: 1.8em;
    margin: 0;
  }
}
