<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-button (click)="goBack()">-->
<!--        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>一键报警</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->


<ion-content [fullscreen]="true">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>

  <ion-chip  (click)="dismiss()">
    <ion-icon class="closeIcon" name="close-outline"></ion-icon>
    <ion-label>返回</ion-label>
  </ion-chip>

  <div class="float-box-header" *ngIf="this.isShowAlarmStatus && statusMsg.can==false">
    <ion-card>
      <ion-card-header>
        <div>
          <span>{{statusMsg.alarm_process_status.desc}}</span>
          <div>报警时间：{{ alarm_date | moment:'ago'}}</div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

    <div class="float-box">
    <ion-card>
      <ion-card-header>
        <ion-card-title
                *ngIf="!statusMsg.can">{{statusMsg.alarm_process_status.status}}</ion-card-title>
        <ion-card-subtitle *ngIf="!statusMsg.can">{{address}}</ion-card-subtitle>
        <ion-card-title *ngIf="statusMsg.can">{{address}}</ion-card-title>
      </ion-card-header>
      <div class="calls item-content">
        <ion-item class="item-content" style="background: none"  *ngFor="let item of phoneList">
          <ion-label>
            {{item.alarmName}}
          </ion-label>
          <ion-note>
            <a style="color: #0084FF" href="tel:{{item.alarmPhone}}">{{item.alarmPhone}}</a>
          </ion-note>
        </ion-item>
      </div>

      <ion-button [disabled]="!statusMsg.can"  class="btn warn_btn" color="primary" (click)="goWarn()"   expand="block">
        立即一键报警
      </ion-button>
      <!--    <p class="status" *ngIf="statusMsg&& !statusMsg.can"></p>-->
    </ion-card>
  </div>
</ion-content>
<!--<ion-footer>-->

<!--</ion-footer>-->
