<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>疫情监测</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">

    <h2>{{MapDetails.name}}</h2>
    <p>截至{{endDate}}数据统计</p>

    <div class="everydayCase" *ngIf="global">
      <div>
        <h3 style="color:#E20A0A">{{global.confirmed_total}}</h3>
        <p>累计确诊</p>
        <p>较昨日 <span style="color:#E20A0A;">{{global.incr_confirmed_incr}}</span></p>
      </div>
      <div>
        <h3>{{global.deaths_total}}</h3>
        <p>累计死亡</p>
        <p>较昨日 <span>{{global.incr_deaths_incr}}</span></p>
      </div>

      <div>
        <h3 style="color:#26B797;">{{global.cures_total}}</h3>
        <p>累计治愈</p>
        <p>较昨日 <span style="color:#26B797;">{{global.incr_cures_incr}}</span></p>
      </div>
    </div>

    <div class="mapWarp1"></div>

    <div class="NewsBlock">
      <h2>最新新闻</h2>
      <ion-card *ngFor="let item of newsList" (click)="getDetail(item)">
        <ion-card-header>
          <ion-card-subtitle>{{item.created_at}} {{item.user_name}}</ion-card-subtitle>
          <ion-card-title><h3>{{item.title}}</h3></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.targetText}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button expand="block" expand="full" (click)="goSubmit()">新冠疫情上报</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
