<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>应急预案</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let item of typeList" (click)="goList(item)">
      <img class="path" [src]="item.path" alt="" />
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list> -->
  <app-plan-list [treeDataes]="typeList" recursive-root></app-plan-list>

</ion-content>
