<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>扫一扫</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll [ngClass]="{'qrscanner':isShow}" >
  <div [ngClass]="{'qrscanner-area':isShow}">
  </div>
  <div  [ngClass]="{'through-line':isShow}"></div>
  <div *ngIf="isShow" class="button-bottom">
    <ion-fab-button (click)="toggleLight()" style="margin-right: 20px" color="light"><ion-icon name="flash"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="toggleCamera()" color="light"><ion-icon name="camera"></ion-icon></ion-fab-button>

  </div>
</ion-content>
