<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>国别信息</ion-title>
  </ion-toolbar>
</ion-header>

<div id="letter" *ngIf="isVisible">
    <div id="letter-text">
      {{currentLetter}}
    </div>
</div>
<div id="alphabet">
  <ul >
    <li (touchmove)="goIndex(letter)" (touchend)="goIndex(letter)" (click)="goIndex(letter)"  *ngFor="let letter of alphabet">
      {{letter}}
    </li>
  </ul>
</div>

<ion-content id="country-list">
  <form action="javascript:return true;">
    <ion-searchbar
      placeholder="搜索"
      [(ngModel)]="search"
      type="search"
      [ngModelOptions]="{standalone:true}"
      (keypress)="goSearch($event)"
      (ionChange)="searchChange()"
    >
    </ion-searchbar>
  </form>

<!--  <ion-content>-->
<!--    <ion-virtual-scroll [items]="items" approxItemHeight="320px">-->
<!--      <ion-card *virtualItem="let item; let itemBounds = bounds;">-->
<!--        <div>-->
<!--          <ion-img [src]="item.imgSrc"  [alt]="item.name"></ion-img>-->
<!--        </div>-->
<!--        <ion-card-header>-->
<!--          <ion-card-title>{{ item.name }}</ion-card-title>-->
<!--        </ion-card-header>-->
<!--        <ion-card-content>{{ item.content }}</ion-card-content>-->
<!--      </ion-card>-->
<!--    </ion-virtual-scroll>-->
<!--  </ion-content>-->


  <ion-virtual-scroll #virtualScroll *ngIf="dataReady" [items]="countryList" [headerFn]="myHeaderFn" approxItemHeight="30px" >
    <!-- 全部 -->
      <ion-item-divider   *virtualHeader="let item"  id="{{item}}"   color="light">
        <ion-label> {{item}} </ion-label>
      </ion-item-divider>
      <ion-card (click)="goDetail(country,'detail')" *virtualItem="let country">
        <ion-card-header >
            <div class="noBackground">
              <ion-img class="country_img" [src]="country.countryNationalFlag"  ></ion-img>
              <ion-card-title>{{country?.countryName}}</ion-card-title>
            </div>
          <!-- 已关注 -->
          <ion-icon *ngIf="country.follow == '1'" name="star"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <div class="describe2" >
              {{country?.targetText}}
          </div>
            <div class="describe2" >
            出行信息：{{country.targetTravelText}}
          </div>
        </ion-card-content>
      </ion-card>
  </ion-virtual-scroll>
</ion-content>
