@import "src/theme/dark-blue";
#alphabet {
    position: fixed;
    right:-14px;
    height:100%;
    z-index:11;
    width: 50px;
    background: transparent;
}
#alphabet ul{
  list-style-type:none;
  position: relative;
  top:50%;
  transform: translate(-50%, -50%);
  li {
    margin-top: 4px;
    font-size: 1.3em;
    color: var(--ion-text-color);
  }
}

ion-card-header {
  ion-card-title {
    font-size: 2rem;
  }
  .country_img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: transparent;
    margin: 5px 1em 5px 0;
  }
  ion-icon {
    color: #f9b639;
    font-size: 2.4rem;
    position: absolute;
    right: 1em;
  }

}
.noBackground{
  display: flex;
  align-items: center;
}
#letter{
  margin-left: 30px;
  z-index: 20;
  position: fixed;
  top: 9%;
  display: flex;
  font-size: 30px;
  right: 10%;
  background: #eee;
  box-shadow: azure;
  width: 50px;
  height: 50px;
  text-align: center;
  opacity: 0.7;
  border-radius: 5px;
  border: solid 1px #ccc;
  vertical-align: middle
}
#letter-text{
 margin:auto;
  color: #0d0d0d;
}
#country-list {
  ion-card {
    .describe2 {
    }
  }
}


.area {
  font-weight: 500 !important;
  font-size: 1.6rem !important;
  margin: 8px 0 !important;
}
