<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{params.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of detail">
    <ion-item lines="none">
      <ion-card-title>{{item?.title}}</ion-card-title>
    </ion-item>
    <ion-card *ngFor="let country of item.list">
      <ion-card-header (click)="goDetail(country,'detail')">
        <ion-card-subtitle>{{country?.country_name}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="descipte" (click)="goDetail(country,'detail')">
          <p class="desc" [innerHTML]="country?.describe | htmlpipe"></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
