<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>联系人</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form action="javascript:return true;">
    <ion-searchbar placeholder="搜索" [(ngModel)]="search" type="search" [ngModelOptions]="{standalone:true}"
      (keypress)="goSearch($event)" (ionChange)="searchChange()">
    </ion-searchbar>
  </form>
  <ion-list class="contacts">
    <ion-item *ngFor="let user of linkmanList;let i = index" [routerLink]="['/contact',user._id]">
      <ion-thumbnail slot="start">
        <img  src="assets/images/xearth.jpeg">
      </ion-thumbnail>
      <ion-label class="hightText" [innerHTML]="user.name">
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>