<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form action="javascript:return true;">
    <ion-searchbar placeholder="搜索" [(ngModel)]="search" type="search" [ngModelOptions]="{standalone:true}"
      (keypress)="goSearch($event)" (ionChange)="searchChange()">
    </ion-searchbar>
  </form>
  <div class="navigate" *ngIf="dataService.linkmanList">
    <p *ngFor="let title of dataService.linkmanList;let inx=index">
      <ion-text (click)="goChange(title,inx)"
        [ngStyle]="{'color':inx != dataService.linkmanList.length -1 ? '#3259c7' : '#5d5555' }" [innerHTML]="title.name">
      </ion-text>
      <ion-icon *ngIf="inx != dataService.linkmanList.length -1" name="chevron-forward-outline" slot="end"
        class="jian_icon"></ion-icon>
    </p>
  </div>
  <ion-list>
    <ion-item *ngFor="let user of linkmanList" (click)="viewContact(user)">
      <ion-thumbnail slot="start">
        <img  src="assets/images/xearth.jpeg">
      </ion-thumbnail>
      <ion-label class="hightText" [innerHTML]="user.remark">
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="checktype">
  <app-create-group></app-create-group>
</ion-footer>