@import "src/theme/scss";
@import "src/theme/dark-blue";
ion-footer {
  ion-toolbar{
    --background: #063D91;
  }
  ion-button {
    width: 100%;
    --color: white;
  }
}
.require {
  color: red;
}
.jian_icon {
  color: #999999;
}
.countrymsg {
  width: 70%;
  @include flexLayout(center, flex-end);
}
