<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>货币选择</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [value]="curid">
      <div *ngFor="let item of rateList">
        <ion-item *ngFor="let rate of item.list" (click)="goChange(rate)">
          <ion-label>{{rate.cname}}</ion-label>
          <ion-text slot="end">{{rate.code}}</ion-text>
          <ion-radio slot="end" [value]="rate.id"></ion-radio>
        </ion-item>
      </div>
    </ion-radio-group>
  </ion-list>
</ion-content>
