<ion-content>

  <ion-list class="signup-form"  lines="full" class="ion-no-margin">
    <ion-list-header>
      <ion-label>用户名</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="username" placeholder="username"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>密码</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input  [(ngModel)]="password" placeholder="password"></ion-input>
              
    </ion-item>
    <ion-list-header>
      <ion-label>重复密码</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="password" placeholder="repeat password"></ion-input>
    </ion-item>
  </ion-list>
    <ion-button  (click)="signup()" class="signup-btn" expand="block">注册    </ion-button>
    <ion-button class="back_login"  routerLink="/login" fill="outline">
        <ion-icon  name="arrow-back-outline"></ion-icon>
      返回登录  </ion-button>
</ion-content>
