<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="stacked">用户名</ion-label>
      <ion-input placeholder="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">密码</ion-label>
      <ion-input placeholder="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">重复密码</ion-label>
      <ion-input placeholder="password"></ion-input>
    </ion-item>
  </ion-list>

    <ion-button  class="signup-btn" expand="block">注册    </ion-button>
</ion-content>
