<ion-content>
  <h5 class="htitle">加入iChat</h5>
  <div [formGroup]="signForm">

  <ion-list class="signup-form"  lines="full" class="ion-no-margin">

    <ion-list-header>
      <ion-label>昵称</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input formControlName="nick"  placeholder="请输入昵称"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>用户名</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input formControlName="username"  placeholder="4-30位英文字符"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>密码</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input  formControlName="password" placeholder="密码"></ion-input>  
    </ion-item>
   <ion-list-header>
      <ion-label>确认密码</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input  formControlName="confirmPassword" placeholder="请再输入一次密码"></ion-input>
    </ion-item>
  </ion-list>
    <ion-button  (click)="signup()" class="signup-btn" expand="block">注册    </ion-button>
  </div>
    <ion-button class="back_login"  routerLink="/login" fill="outline"><ion-icon  name="arrow-back-outline"></ion-icon> 返回登录  </ion-button>
</ion-content>
