.signup-btn{
    margin: 15px 15px;
}
.signup-form{
    margin-bottom: 15px;
}
.back_login{
    margin-left: 15px;
    margin-right: 15px;
}

.htitle {
  font-size: 2.3rem;
  color: var(--ion-text-color);
  font-weight: bold;
  text-align: center;
  margin: 1.2em 0 1em;
}