@import "src/theme/dark-blue";
ion-text{
    color: #666666;
    font-size: 1.4rem;
}
ion-label{
    width: 80%;
}
.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
    white-space: normal;
}
.comname{
    font-size: 1.4rem;
}