<ion-tabs>
  <ion-tab-bar
    [ngClass]="{'hide': isSubPage}"
    slot="bottom"
    (ionTabBarChanged)="change($event)"
  >
    <ion-tab-button tab="home">
      <ion-label class="label_right" [ngClass]="{'borchecked':flag=='home'}"
        >首页</ion-label
      >
    </ion-tab-button>

    <ion-tab-button tab="safes">
      <ion-label class="label_left" [ngClass]="{'borchecked':flag=='safes'}"
        >进入系统</ion-label
      >
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-button
    [ngClass]="{'hide': isSubPage}"
    class="center-tab"
    (click)="goWarn()"
  >
    <ion-fab-button> 一键<br />报警 </ion-fab-button>
  </ion-tab-button>
</ion-tabs>
