@import "src/theme/dark-blue";
.logtitle {
    border-left: 6px solid #3f51b5;
    border-radius: 4px;
    margin-left: 1em;
    padding-left: 8px;
}
ion-header {
    ion-text {
        font-size: 1.8rem;
        margin-right: 5px;
    }
}
ion-button{
    --color: white
}
ion-item {
    ion-select {
        max-width: 70%;
    }
    ion-select,
    ion-input {
        text-align: right;
    }
}
.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
    white-space: normal;
}
.sc-ion-buttons-ios-h {
    justify-content: center;
}
ion-select::part(text) {
    white-space: normal;
}
.tips{
   font-size: 1.4rem;
   padding: 0 1.2em; 
}