<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>群二维码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="qrcode"></ion-img>
    </ion-card-content>
</ion-card>
</ion-content>
