/**
	重置样式
	reset.css
	Created by Andy on 2018-03-21
 */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
	-webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
	box-sizing: border-box;   /* Everything else */
}

html {
	-webkit-text-size-adjust: none; -ms-text-size-adjust: none;
}
body{
	background-color:#f5f7fb;font:12px/1.5 "PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0 auto; padding:0; min-width: 320px; max-width: 750px; height: 100%; width: 100%;
}
body.overflow{overflow:hidden;}

p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, img, label, input, button, textarea, select, form {
	margin: 0; padding:0;
}
h1, h2, h3, h4, h5, h6, em, i, th, caption {font-style: normal;font-weight: normal;}
img {
	border: 0;
}
a {color: inherit; text-decoration: none;}
a img {
	vertical-align: top;
}
ul, ol, li {
	list-style: none;
}
input, textarea{border-radius: 0;outline: none;}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	padding: 0;
}

/* 去除android上a、button、input标签点击产生的边框 */
a,button,input,label,li{-webkit-tap-highlight-color: transparent; outline:none;}

/* __ 清除浮动 */
.clearfix:after{content:""; clear:both; display:block;}
/* 不占位清除浮动 */
.cls{content: "";clear: both;height: 0px!important;line-height: 0px!important;font-size: 0px!important;overflow: hidden;}

/* __ css3文字截取 */
.clamp1, .clamp2, .clamp3{display: -webkit-box!important; overflow: hidden; -webkit-box-orient: vertical;}
.clamp1{-webkit-line-clamp:1;}
.clamp2{-webkit-line-clamp:2;}
.clamp3{-webkit-line-clamp:3;}
.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* __ 布局控制 */
.v__top{vertical-align: top!important;} .v__middle{vertical-align: middle!important;}
.max__img{display:block;margin:0 auto;max-width:100%;vertical-align:top;}
.fl {float: left!important;}
.fr {float: right!important;}
.hide{display:none!important;}
.w100{width:100%;}
.db {
	display: block!important;
}
.dib {
	display: inline-block!important;
	*zoom: 1; *display: inline;
}
.pos-rel {
    position: relative;
}
.pos-abs {
	position: absolute;
}
.align-l{text-align:left!important;}
.align-c{text-align:center!important;}
.align-r{text-align:right!important;}


/* __ 字号设置 */
.fs-20{font-size:.2rem!important;}
.fs-24{font-size:.24rem!important;}
.fs-26{font-size:.26rem!important;}
.fs-28{font-size:.28rem!important;}
.fs-30{font-size:.3rem!important;}
.fs-32{font-size:.32rem!important;}
.fs-36{font-size:.36rem!important;}
.fs-40{font-size:.4rem!important;}
.fs-45{font-size:.45rem!important;}
.fs-50{font-size:.5rem!important;}
/* __ 字体设置 */
.ff-vd{font-family:Verdana;}
.ff-gg{font-family:Georgia;}
.ff-hv{font-family:Helvetica;}
.ff-ss{font-family:sans-serif;}
.ff-ms{font-family:"Microsoft Yahei";}
.ff-ar{font-family:Arial;}
.ff-ab{font-family:Arial Black;}
.ff-st{font-family:simsun;}
/* __ 间距 */
/* px */
.mt-5{margin-top:5px;} .mt-10{margin-top:10px;} .mt-15{margin-top:15px;} .mt-20{margin-top:20px;} .mt-25{margin-top:25px;} .mt-30{margin-top:30px;} .mt-50{margin-top:50px;}
.mb-5{margin-bottom:5px;} .mb-10{margin-bottom:10px;} .mb-15{margin-bottom:15px;} .mb-20{margin-bottom:20px;} .mb-25{margin-bottom:25px;} .mb-30{margin-bottom:30px;} .mb-50{margin-bottom:50px;}
.ml-5{margin-left:5px;} .ml-10{margin-left:10px;} .ml-15{margin-left:15px;} .ml-20{margin-left:20px;} .ml-25{margin-left:25px;} .ml-30{margin-left:30px;} .ml-50{margin-left:50px;}
.mr-5{margin-right:5px;} .mr-10{margin-right:10px;} .mr-15{margin-right:15px;} .mr-20{margin-right:20px;} .mr-25{margin-right:25px;} .mr-30{margin-right:30px;} .mr-50{margin-right:50px;}
.pt-5{padding-top:5px;} .pt-10{padding-top:10px;} .pt-15{padding-top:15px;} .pt-20{padding-top:20px;} .pt-25{padding-top:25px;} .pt-30{padding-top:30px;} .pt-50{padding-top:50px;}
.pb-5{padding-bottom:5px;} .pb-10{padding-bottom:10px;} .pb-15{padding-bottom:15px;} .pb-20{padding-bottom:20px;} .pb-25{padding-bottom:25px;} .pb-30{padding-bottom:30px;} .pb-50{padding-bottom:50px;}
.pl-5{padding-left:5px;} .pl-10{padding-left:10px;} .pl-15{padding-left:15px;} .pl-20{padding-left:20px;} .pl-25{padding-left:25px;} .pl-30{padding-left:30px;} .pl-50{padding-left:50px;}
.pr-5{padding-right:5px;} .pr-10{padding-right:10px;} .pr-15{padding-right:15px;} .pr-20{padding-right:20px;} .pr-25{padding-right:25px;} .pr-30{padding-right:30px;} .pr-50{padding-right:50px;}
.mar10{margin:10px;} .mar15{margin:15px;} .mar20{margin:20px;} .mar25{margin:25px;} .mar30{margin:30px;} .mar50{margin:50px;}
.pad10{padding:10px;} .pad15{padding:15px;} .pad20{padding:20px;} .pad25{padding:25px;} .pad30{padding:30px;} .pad50{padding:50px;}
/* rem */
.rmt-5{margin-top:.05rem;} .rmt-10{margin-top:.1rem;} .rmt-15{margin-top:.15rem;} .rmt-20{margin-top:.2rem;} .rmt-25{margin-top:.25rem;} .rmt-30{margin-top:.3rem;} .rmt-50{margin-top:.5rem;}
.rmb-5{margin-bottom:.05rem;} .rmb-10{margin-bottom:.1rem;} .rmb-15{margin-bottom:.15rem;} .rmb-20{margin-bottom:.2rem;} .rmb-25{margin-bottom:.25rem;} .rmb-30{margin-bottom:.3rem;} .rmb-50{margin-bottom:.5rem;}
.rml-5{margin-left:.05rem;} .rml-10{margin-left:.1rem;} .rml-15{margin-left:.15rem;} .rml-20{margin-left:.2rem;} .rml-25{margin-left:.25rem;} .rml-30{margin-left:.3rem;} .rml-50{margin-left:.5rem;}
.rmr-5{margin-right:.05rem;} .rmr-10{margin-right:.1rem;} .rmr-15{margin-right:.15rem;} .rmr-20{margin-right:.2rem;} .rmr-25{margin-right:.25rem;} .rmr-30{margin-right:.3rem;} .rmr-50{margin-right:.5rem;}
.rpt-5{padding-top:.05rem;} .rpt-10{padding-top:.1rem;} .rpt-15{padding-top:.15rem;} .rpt-20{padding-top:.2rem;} .rpt-25{padding-top:.25rem;} .rpt-30{padding-top:.3rem;} .rpt-50{padding-top:.5rem;}
.rpb-5{padding-bottom:.05rem;} .rpb-10{padding-bottom:.1rem;} .rpb-15{padding-bottom:.15rem;} .rpb-20{padding-bottom:.2rem;} .rpb-25{padding-bottom:.25rem;} .rpb-30{padding-bottom:.3rem;} .rpb-50{padding-bottom:.5rem;}
.rpl-5{padding-left:.05rem;} .rpl-10{padding-left:.1rem;} .rpl-15{padding-left:.15rem;} .rpl-20{padding-left:.2rem;} .rpl-25{padding-left:.25rem;} .rpl-30{padding-left:.3rem;} .rpl-50{padding-left:.5rem;}
.rpr-5{padding-right:.05rem;} .rpr-10{padding-right:.1rem;} .rpr-15{padding-right:.15rem;} .rpr-20{padding-right:.2rem;} .rpr-25{padding-right:.25rem;} .rpr-30{padding-right:.3rem;} .rpr-50{padding-right:.5rem;}
.rmar10{margin:.1rem;} .rmar15{margin:.15rem;} .rmar20{margin:.2rem;} .rmar25{margin:.25rem;} .rmar30{margin:.3rem;} .rmar50{margin:.5rem;}
.rpad10{padding:.1rem;} .rpad15{padding:.15rem;} .rpad20{padding:.2rem;} .rpad25{padding:.25rem;} .rpad30{padding:.3rem;} .rpad50{padding:.5rem;}
/* __ 颜色 */
.bg-fff{background:#fff!important;}
.bg-f8f8f8{background:#f8f8f8!important;}
.bg-f8fdff{background: #f8fdff!important;}
.bg-f5fafc{background:#f5fafc!important;}
.bg-f5f7fb{background:#f5f7fb!important;}
.bg-1976d2{background: #1976d2!important;}
.bg-378fe7{background:#378fe7!important;}
.bg-20232a{background: #20232a!important;}
.c-fff{color:#fff!important;}
.c-aaa{color:#aaa!important;}
.c-ccc{color:#ccc!important;}
.c-333{color:#333!important;}
.c-666{color:#666!important;}
.c-999{color:#999!important;}
.c-9ea0a3{color: #9ea0a3!important;}
.c-5a5b5c{color: #5a5b5c!important;}
.c-20232a{color: #20232a!important;}
.c-1976d2{color: #1976d2!important;} /*主色*/
.c-378fe7{color: #378fe7!important;}
.c-c3002f{color: #c3002f!important;} /*主色*/
.c-dd0031{color: #dd0031!important;}
.c-eb5a5c{color: #eb5a5c!important;}


/* …… 重置placeholder颜色 …… */
::-webkit-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;}
::-moz-placeholder {color:#999;}
:-ms-input-placeholder {color:#999;}

/* …… 重置系统滚动条 …… */
::-webkit-scrollbar {display:none; height:5px;width:5px;}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-track-piece {background: transparent;}
::-webkit-scrollbar-thumb {background:rgba(0,0,0,.2);border-radius:15px;min-height:15px;width:5px; transition:all .3s;}
::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:active {background:rgba(0,0,0,.4);}


/* …… flex弹性盒子 …… */
.flexbox{display:-webkit-box; display:-webkit-flex; display:flex; display:-ms-flexbox;}
.flex-alignt{align-items: flex-start;}
.flex-alignc{align-items: center;}
.flex-alignb{align-items: flex-end;}
.flex-selft{align-self: flex-start;}
.flex-selfc{align-self: center;}
.flex-selfb{align-self: flex-end;}
.flex-justifyc{justify-content: center;}
.flex1{-webkit-box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1;}
.flex2{-webkit-box-flex:2; -webkit-flex:2; -ms-flex:2; flex:2;}
.flex__direction-column {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}


/* …… 自定义checkbox …… */
.cp__checkbox-switch {
	background: #d9d9d9; border-radius: .3rem;
	cursor: pointer;font-size: .24rem;font-family: Helvetica;outline: 0;height: .5rem;width: 1.1rem; position: relative;top: 0;right: 0;bottom: 0;left: 0; vertical-align: middle;appearance: none;-webkit-appearance: none;
	transition: all 0.3s;
}
.cp__checkbox-switch::before {
	background: #fff; content: ""; border-radius: 50%; height: .38rem; width: .38rem; position: absolute; top: .06rem; bottom: 0; left: .06rem;
	transition: left 0.3s;
}
.cp__checkbox-switch:checked::before {left: .65rem;}
.cp__checkbox-switch:checked {background: #1976d2;border-color: #1976d2;}
.cp__checkbox-switch::after {content: ""; color: #999; text-transform: uppercase; position: absolute; right: .02rem; top: .02rem;}
.cp__checkbox-switch:checked::after{content: ""; color: #fff; text-transform: uppercase; left: .05rem;}
/*checkbox样式二(px单位)*/
.cp__checkboxPX-switch {
	background: #d9d9d9; border-radius: 30px;
	cursor: pointer;font-size: 12px;font-family: Helvetica;outline: 0;height: 20px;width: 40px; position: relative;top: 0;right: 0;bottom: 0;left: 0; vertical-align: middle;appearance: none;-webkit-appearance: none;
	transition: all 0.3s;
}
.cp__checkboxPX-switch::before {
	background: #fff; content: ""; border-radius: 50%; height: 16px; width: 16px; position: absolute; top: 2px; bottom: 2px; left: 2px;
	transition: left 0.3s;
}
.cp__checkboxPX-switch:checked::before {left: 22px;}
.cp__checkboxPX-switch:checked {background: #1976d2;border-color: #1976d2;}
.cp__checkboxPX-switch::after {content: ""; color: #999; text-transform: uppercase; position: absolute; right: .02rem; top: .02rem;}
.cp__checkboxPX-switch:checked::after{content: ""; color: #fff; text-transform: uppercase; left: .05rem;}


/* …… 自定义button …… */
/* 主按钮 */
.wc__btn-primary{background-color: #1976d2; border-radius:.2rem; box-sizing: border-box; color:#fff;cursor: pointer;display:block;font-size:.3rem;font-family:"Microsoft Yahei";text-align:center;outline:none;padding:0 .2rem;text-decoration:none;line-height:.9rem; position: relative; transition: all .3s; user-select: none; -webkit-user-select: none;}
button.wc__btn-primary, input.wc__btn-primary{border: 0; outline: none; width: 100%; -webkit-appearance: none;}
.wc__btn-primary:active{background-color: #378fe7; color: rgba(255,255,255,.6);}
/* .wc__btn-primary:after{border: 1px solid rgba(0,0,0,.2); border-radius: .4rem; box-sizing: border-box; content: ''; height: 200%; width: 200%; position: absolute; left: 0; top: 0; transform: scale(.5); -webkit-transform: scale(.5); transform-origin: 0 0; -webkit-transform-origin: 0 0;} */
.wc__btn-primary.disabled, .wc__btn-primary:disabled{opacity: .6; pointer-events: none;}
/* 默认按钮 */
.wc__btn-default{background-color:#f6f8fa; border-radius:.2rem;box-sizing: border-box; color:#333;cursor:pointer;display:block;font-size:.3rem;font-family:"Microsoft Yahei";text-align:center;outline:none; padding:0 .2rem;text-decoration:none;line-height:.9rem; position: relative; transition: all .3s; user-select: none; -webkit-user-select: none;}
button.wc__btn-default, input.wc__btn-default{border: 0; outline: none; width: 100%; -webkit-appearance: none;}
.wc__btn-default:active{background-color: #dcdddd; color: rgba(0,0,0,.6);}
.wc__btn-default:after{border: 1px solid rgba(0,0,0,.2); border-radius: .4rem; box-sizing: border-box; content: ''; height: 200%; width: 200%; position: absolute; left: 0; top: 0; transform: scale(.5); -webkit-transform: scale(.5); transform-origin: 0 0; -webkit-transform-origin: 0 0;}
.wc__btn-default.disabled, .wc__btn-default:disabled{opacity: .6; pointer-events: none;}


