<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      应用设置
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="setting">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">应用设置</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item (click)="onPush()">
      <ion-text>
        <ion-label>推送设置</ion-label>
      </ion-text>
    </ion-item>


    <ion-item routerLink="/darkmode">
      <ion-label>深色模式</ion-label>
      <ion-note slot="end">{{mode}}</ion-note>
    </ion-item>
    <ion-item (click)="Feedback()">
      <ion-text>
        <ion-label>意见反馈</ion-label>
      </ion-text>
    </ion-item>
    <ion-item (click)="isUpdate()" >
      <ion-text>
        <ion-label>检查新版本</ion-label>
      </ion-text>
    </ion-item>

  <div class="d-grid gap-2 logout_btn">
    <button class="btn btn-danger" (click)="logout()" type="button">登出</button>
  </div>
  </ion-list>

</ion-content>