<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      应用设置
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="setting">
  <ion-list>
    <ion-item (click)="onPush()">
      <ion-text>
        <ion-label>推送设置</ion-label>
      </ion-text>
    </ion-item>


    <ion-item routerLink="/darkmode">
      <ion-label>深色模式</ion-label>
      <ion-note slot="end">{{mode}}</ion-note>
    </ion-item>
    <ion-item (click)="Feedback()">
      <ion-text>
        <ion-label>意见反馈</ion-label>
      </ion-text>
    </ion-item>
    <ion-item (click)="isUpdate()" >
      <ion-text>
        <ion-label>检查新版本</ion-label>
      </ion-text>
    </ion-item>

  <ion-button class="logout_btn" expand="block" (click)="logout()" color="danger">登出</ion-button>

  </ion-list>

</ion-content>