<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="返回" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>添加好友</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">添加好友</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-searchbar (ionBlur)="search()" enterkeyhint="搜索"  placeholder="对方账号"
      [(ngModel)]="value"
     (ionCancel)="cancel()" animated  cancelButtonText="取消"></ion-searchbar>
</ion-content>
