<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      信息统计
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Institutional">
    <form #forma="ngForm">
      <div class="formBlock">
        <span class="title_block"></span>
        <h2>境外机构人员信息表</h2>
        <ul>
          <li>
            <ol>
              <li><span style="color:red;">*</span> 区域总部</li>
            </ol>
            <ion-select [(ngModel)]="Institutional.country_id" [disabled]="is_project == 0" class="class_input"
              (ionChange)="areaFn($event)" placeholder="请选择区域" okText="确定" cancelText="取消" name="country_id"
              required="true">
              <ion-option *ngFor="let item of areaList" [value]="item.id">{{item.title}}</ion-option>
            </ion-select>
          </li>

          <li [hidden]="!Country.length">
            <ol>
              <li><span style="color:red;">*</span> 国家(地区)</li>
            </ol>
            <ion-select [(ngModel)]="Institutional.area_id" [disabled]="is_project == 0" class="class_input"
              placeholder="请选择国家" okText="确定" cancelText="取消" name="area_id" required="true">
              <ion-option *ngFor="let item of Country" [value]="item.id">{{item.title}}</ion-option>
            </ion-select>
          </li>

          <!-- <li>
                  <ol>
                      <li><span style="color:red;">*</span> 区域总部</li>
                  </ol>
                  <ion-select [(ngModel)]="Institutional.area_id" [disabled] = "is_project == 0" class="class_input" placeholder="请选择上级机构" okText="确定" cancelText="取消" name="mechanism" required="true">
                      <ion-option *ngFor="let item of mechanism" [value]="item.id">{{item.title}}</ion-option>
                  </ion-select>
              </li> -->

          <li>
            <ol>
              <li><span style="color:red;">*</span>机构名称</li>
            </ol>
            <ion-input class="class_input" [disabled]="is_project == 0" [(ngModel)]="Institutional.title" name="title"
              required="true"></ion-input>
          </li>
          <li>
            <ol>
              <li><span style="color:red;">*</span>机构地理位置</li>
            </ol>
            <ol class="locates">
              <ion-input class="class_input mylocate" [(ngModel)]="latLon" (click)="modifyPoint()" name="latLon" disabled>
              </ion-input>
              <div id="myMap" style="display: none;"></div>

              <div class="mylocate myaddress">{{location}}</div>
            </ol>

          </li>
          <li>
            <ol>
              <li><span style="color:red;">*</span> 管理单位</li>
            </ol>
            <ion-select [(ngModel)]="Institutional.management_unit" [disabled]="is_project == 0" placeholder="请选择管理单位"
              okText="确定" cancelText="取消" name="management_unit" required="true">
              <ion-option *ngFor="let item of child_signing_company" [value]="item.id">{{item.org_name}}
              </ion-option>
            </ion-select>
          </li>
        </ul>
      </div>

      <div *ngFor=" let item of projectLength;let index = index">
        <div class="formBlock">
          <span class="title_block"></span>
          <h2>机构人员情况</h2>

          <div style="float:right;">
            <p (click)="reduce(index)" *ngIf="projectLength.length > 1">-</p>
          </div>
          <ul>
            <li style="position: relative;">
              <ol>
                <li style="height:100%">子企业名称</li>
              </ol>
              <ion-select [(ngModel)]="form.join_enterpris[index]" [disabled]="is_project == 0" placeholder="请选择子企业名称"
                okText="确定" cancelText="取消" name="join_enterpris{{index}}">
                <ion-option *ngFor="let item of child_join_company" [value]="item.id">{{item.org_name}}
                </ion-option>
              </ion-select>
            </li>
            <li style="position: relative;">
              <ol>
                <li style="height:100%">中方人员数</li>
              </ol>
              <div class="class_input">
                <div style="overflow:hidden;border-bottom:1px solid #CFCFCF;height:30px;">
                  <ol style="height:100%;width:40%;">
                    <li style="padding:0px;height:100%;line-height:30px;">正式员工</li>
                  </ol>
                  <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                    [(ngModel)]="form.formal[ index]" style="line-height:30px;width:60%;" name="formal{{index}}">
                  </ion-input>
                </div>
                <div style="overflow:hidden;height:30px;">
                  <ol style="height:100%;width:40%;">
                    <li style="padding:0px;height:100%;line-height:30px;">分包员工</li>
                  </ol>
                  <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                    [(ngModel)]="form.informal[ index]" style="line-height:30px;width:60%;" name="informal{{index}}">
                  </ion-input>
                </div>
              </div>
            </li>
            <li>
              <ol>
                <li>当地人员数</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0" [(ngModel)]="form.local[ index]"
                name="local{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>第三国人员数</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0" [(ngModel)]="form.third[ index]"
                name="third{{index}}"></ion-input>
            </li>
          </ul>
        </div>

        <div class="formBlock">
          <span class="title_block"></span>
          <h2>机构主要负责人</h2>
          <ul>
            <li>
              <ol>
                <li><span style="color:red;">*</span> 机构负责人</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.project_manager_a.value[ index]" name="project_manager_a.value{{index}}"
                required="true"></ion-input>
            </li>
            <li>
              <ol>
                <li><span style="color:red;">*</span> 管生产负责人</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.project_manager_b.value[ index]" name="project_manager_b.value{{index}}"
                required="true"></ion-input>
            </li>
            <li>
              <ol>
                <li><span style="color:red;">*</span> 技术负责人</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.project_manager_c.value[ index]" name="project_manager_c.value{{index}}"
                required="true"></ion-input>
            </li>
            <li>
              <ol>
                <li><span style="color:red;">*</span> 安全负责人</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.project_manager_d.value[ index]" name="project_manager_d.value{{index}}"
                required="true"></ion-input>
            </li>
          </ul>
        </div>

        <div class="formBlock">
          <span class="title_block"></span>
          <h2>机构联络人</h2>
          <ul>
            <li>
              <ol>
                <li>姓名</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.project_liaison_person_name[ index]" name="project_liaison_person_name{{index}}">
              </ion-input>
            </li>
            <li>
              <ol>
                <li>电话</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.project_liaison_person_phone[ index]" name="project_liaison_person_phone{{index}}">
              </ion-input>
            </li>
            <li>
              <ol>
                <li>卫星电话</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0" [(ngModel)]="form.satellite_phone[ index]"
                name="satellite_phone{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>微信号</li>
              </ol>
              <ion-input class="class_input" [disabled]="is_project == 0" [(ngModel)]="form.wechat_number[ index]"
                name="wechat_number{{index}}"></ion-input>
            </li>
          </ul>
        </div>

        <div class="formBlock">
          <span class="title_block"></span>
          <h2>疫情防控物资配置情况</h2>
          <ul>
            <li>
              <ol>
                <li>防护口罩 (个)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0" [(ngModel)]="form.mask[index]"
                name="mask{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>N95口罩 (个)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.n95_mask[index]" name="n95_mask{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>防护服 (件)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.protective_clothing[index]" name="protective_clothing{{index}}">
              </ion-input>
            </li>
            <li>
              <ol>
                <li>护目镜 (副)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.goggles[index]" name="goggles{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>检查手套(副)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0" [(ngModel)]="form.glove[index]"
                name="glove{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>消毒水 (kg)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.aq_steril[index]" name="aq_steril{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>酒精消毒液 (kg)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.alcohol_disinfectant[index]" name="alcohol_disinfectant{{index}}">
              </ion-input>
            </li>
            <li>
              <ol>
                <li>消毒洗手液 (kg)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.liquid_soap[index]" name="liquid_soap{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>新冠肺炎试剂盒</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.test_kit[index]" name="test_kit{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>防护面罩 (个)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.protective_mask[index]" name="protective_mask{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>手持测温枪 (个)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.thermometer_gun[index]" name="thermometer_gun{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>测温安检门 (套)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0"
                [(ngModel)]="form.safety_check[index]" name="safety_check{{index}}"></ion-input>
            </li>
            <li>
              <ol>
                <li>其它 (个)</li>
              </ol>
              <ion-input type="number" class="class_input" [disabled]="is_project == 0" [(ngModel)]="form.other[index]"
                name="other{{index}}"></ion-input>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button color="success" expand="full" (click)="add()">新增其它子企业</ion-button>
  <ion-button color="primary" expand="full" (click)="ConfirmReport()">确定上报</ion-button>
</ion-footer>