@import "src/theme/dark-blue";
.filter {
  position: relative;
  top: 7px;
  height: 1.8em;
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-item-background: #1e1e1e;
  }

  .ios body{
    --ion-item-background: #1e1e1e;
  }

  .md body{
    --ion-item-background: #1e1e1e;
  }
}
ion-card {
  --background: var(--ion-card-background);
  box-shadow: var(--ion-box-shadow);
  margin: 12px 15px;
}
ion-chip {
  margin-left: 1em;
  margin-top: 1em;
  --background: var(--ion-chip-background);
  --color: var(--ion-chip-color);
}