<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>风险预警</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullMin="100" pullMax="120" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="刷新中">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <ion-item lines="none" class="filter" *ngIf="imgsList.length > 0" (click)="goFilter()">
    <ion-text slot="end" *ngIf="filter">我关注的</ion-text>
    <ion-text slot="end" *ngIf="!filter">全部</ion-text>
  </ion-item> -->

  <div *ngIf="!ready">
    <ion-chip>
      <ion-label> <ion-skeleton-text  animated style="line-height:15px;width: 40px"></ion-skeleton-text>
      </ion-label>
    </ion-chip>
    <ion-card  *ngFor="let i of [1,2,3,4,5,6,7]">
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text  animated style="line-height:25px;width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%;line-height: 17px"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-content>
      </ion-content>
    </ion-card>
  </div>

  <app-warnlist *ngIf="ready" [imgsList]="imgsList"></app-warnlist>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getListData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
