// .myheader {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   margin-bottom: 4em;
// }
.content {
  font-size: 1.4rem;
  margin-top: 1.2em;
  h5 {
    text-align: center;
  }
  p {
    text-indent: 2em;
    margin: 0 1.2em;
    line-height: 1.8em;
  }
}
