@import "src/theme/scss";
@import "src/theme/dark-blue";
ion-footer {
  ion-buttons {
    width: 100%;
    ion-button {
      width: 100%;
      text-align: center;
      --color: white
    }
  }
}
.require {
  color: red;
}
.jian_icon {
  color: #999999;
}
.countrymsg{
  width: 77%;
  @include flexLayout(center,space-between);
}
