@import "../../../theme/scss.scss";
@import "../../../theme/dark-blue.scss";

ion-header {
    ion-icon {
        font-size: 2.4rem;
        margin-right: 5px;
    }
}
ion-content {
    padding: 10px;
}

.risk-html {
    color: var(--ion-text-color) !important;
    padding: 0 2.2em;
    line-height: 1.5em;
}
.time_wrap {
    .risk_title {
        width: 94%;
        margin: 0 3%;
        padding: 1.2em 0;
        @include flexLayout(center, space-between);
        span {
            display: inline-block;
            color: #0061b0;
            width: 100px;
            line-height: 18px;
        }
    }
}
.imgs_wrap {
    text-align: center;
    padding-left: 2.3em;
    padding-right: 2.3em;
    img {
        margin-bottom: 6px;
    }
}
ion-card {
    width: 92%;
    margin: 12px 4%;
    --background: var(--ion-card-background);
    box-shadow: var(--ion-box-shadow);
    font-size: 1.6rem;
    padding-bottom: 1.2em;
}
.flex {
    &_wrap {
        padding: 0 2.5em;
        @include flexLayout(flex-start, space-between);
        font-size: 1rem;
        p {
            margin: 0;
            line-height: 2em;
        }
    }
    &_left {
        width: 70%;
    }
    &_right {
        color: #4d8fc6;
        font-weight: bold;
        width: 30%;
        text-align: center;
    }
}
