<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>风险预警</ion-title>
    <!--    <ion-icon *ngIf="!this.sharingLoading" name="share-social-outline" slot="end" (click)="share()"></ion-icon>-->
    <!--    <ion-spinner *ngIf="this.sharingLoading" slot="end"  name="lines-small"></ion-spinner>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="time_wrap">
      <div class="risk_title">
        <img src="assets/images/risk_img2.png" alt="" />
        <span>{{detail?.risk_publish_date}}</span>
      </div>
      <div class="imgs_wrap">
        <img src="assets/images/risk_img1.png" alt="" />
        <img src="assets/images/risk_img3.png" alt="" />
      </div>
    </div>
    <div
      class="risk-html"
      [innerHTML]="detail.text.text_content | htmlpipe"
    ></div>
    <div class="imgs_wrap">
      <img src="assets/images/risk_img3.png" alt="" />
    </div>
    <div class="flex_wrap">
      <div class="flex_left">
        <p>如需要更多信息，请致电：010-83890579</p>
        <p>或联系：姜杉，电话 / 微信：18310699609</p>
        <p>邮箱：glennjiang@riskearth.net</p>
      </div>
      <div class="flex_right">
        <img src="assets/images/risk_img4.png" alt="">
        <p>扫码下载“风险地球”APP</p>
      </div>
    </div>
  </ion-card>
</ion-content>
