<ion-content>
  <div class="content">
<ion-chip (click)="dismiss()">
  <ion-label>关闭</ion-label>
</ion-chip>
        <h4>是否以当前用户登录到电脑桌面端?</h4>
       <ion-card>
        <div class="avatar">
        <ion-avatar>
          <img [src]="api.picurl + userinfo.picture">
        </ion-avatar>
        </div>
          <ion-label class="name">
            {{userinfo.nick}}
          </ion-label>
</ion-card>
  <ion-button style="margin-bottom: 20px" (click)="login()" expand="block" color="primary">确 定</ion-button>
</div>
</ion-content>
