// 地图
.leaflet-marker-icon {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.leaflet-container .leaflet-control-attribution {
  display: none !important;
}

// 暂无数据
.nodata {
  width: 94%;
  height: 76vh;
  margin: 10px 3%;
  text-align: center;
  font-size: 1.3rem;
  color: #999999;
  background: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
      width: 50%;
      margin-top: 8em;
  }
}
.alert-radio-label.sc-ion-alert-ios {
  white-space: normal !important;
}