@mixin flexLayout($align, $justy) {
  display: flex;
  align-items: $align;
  justify-content: $justy;
}
@mixin bck_img($url) {
  background: url($url) no-repeat;
  background-size: 100% 100%;
}
$scolor: #333;

// 超出指定行数省略号
@mixin exceedFlow($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; //规定几行显示省略号
  -webkit-box-orient: vertical;
}

ion-toolbar{
  --background: var(--ion-toolbar-background);
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}

