<ion-header translucent>
  <ion-toolbar>
    <ion-title>选择已保存的账号</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">关闭</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let item of loginList" (click)="selectOne(item)">
      <ion-avatar slot="start">
        <ion-img [src]="api.picurl+item.avatar"  ></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{item.account}}</h2>
        <p>{{item.tenant}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
