<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/contacts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="bord_btm">
    <ion-item >
      <ion-thumbnail slot="start">
        <ion-img class="touxiang"  src="assets/images/xearth.jpeg"></ion-img>
      </ion-thumbnail>
      <ion-text>
        <ion-label>{{info?.name}}</ion-label>
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-button class="chat_btn" expand="full" color="primary" [routerLink]="['/chat',uid]" [queryParams]="{type:'chat',jid:info?.chat_jid}">发消息</ion-button>
</ion-content>