<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/contacts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img *ngIf="isContacts" [src]="api?.picurl+info?.pic_url">
        <img *ngIf="!isContacts" [src]="api?.picurl+searchedUser?.avatar">
      </ion-avatar>
      <ion-label>
        <h2 *ngIf="isContacts">{{info?.name}}</h2>
        <h2 *ngIf="!isContacts">{{searchedUser?.name}}</h2>
        <h3></h3>
        <p></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <section class="full-width">
    <ion-button *ngIf="!isContacts && !isContactsReq" expand="block" (click)="add()" color="primary">添加到通讯录</ion-button>
    <ion-button *ngIf="isContacts" expand="block" color="primary" [routerLink]="['/chat',uid]" [queryParams]="{type:'chat',jid:info?.chat_jid}">发消息</ion-button>
    <ion-button *ngIf="isContactsReq" expand="block" color="danger" [routerLink]="['/chat',uid]" [queryParams]="{type:'chat',jid:info?.chat_jid}">通过请求</ion-button>
  </section>

</ion-content>