.bord_btm {
    padding-top: 6px;
}
.touxiang {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.chat_btn {
    width: 94%;
    margin: 2em 3%;
}
ion-item{
    span{
        display: inline-block;
        width: 100px;
        color: #666666;
    }
}