<!-- [translucent]="true" -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>一键报警</ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <p class="hotcall">
      <ion-icon class="marrig" name="call-outline"></ion-icon>
      <span class="marrig">一键报警热线</span>
      <span class="marrig">+86 1063707910</span>
    </p>
    <p class="hotcall">
      <ion-icon class="marrig" name="call-outline"></ion-icon>
      <span class="marrig">一键报警热线</span>
      <span class="marrig">+86 2035647927</span>
    </p>
    <ion-buttons color="primary">
      <ion-button class="warn_btn" expand="full">
        立即一键报警
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
