.warn_btn {
  width: 100%;
  border-radius: 16px;
  background: #3f51b5;
  --color: #fff;
}
.hotcall{
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon{
        font-size: 1.6rem;
    }
    .marrig{
        margin-right: 10px;
    }
}
