<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>汇率兑换</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of rateList;let idx=index">
      <ion-label>
        <span *ngIf="idx == 0">美元/人民币</span>
        <span *ngIf="idx == 1">欧元/人民币</span>
        <span *ngIf="idx == 2">英镑/人民币</span>
        <span class="rates">{{item.exchange}}</span>
      </ion-label>
      <ion-text slot="end">
        100人民币可兑换 {{item.commutative}}
        <span *ngIf="idx == 0">美元</span>
        <span *ngIf="idx == 1">欧元</span>
        <span *ngIf="idx == 2">英镑</span>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-button  class="rate_btn"  (click)="presentModal('first')">
          <ion-text>{{conversbefore.cname}}</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <ion-input type="number" [value]="firstval" [(ngModel)]="firstval" (ionChange)="valueBlur('first')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button  class="rate_btn" (click)="presentModal('second')">
          <ion-text>{{conversaftere.cname}}</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <ion-input [value]="secondval" [(ngModel)]="secondval" (ionBlur)="valueBlur('second')"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
