<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      加入群聊
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="group">
    <ion-card-header>
      <ion-card-title>{{group.group_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of group.members">
          <ion-avatar slot="start">
            <img [src]="api.picurl + item.member_avatar">
          </ion-avatar>
          <ion-label>{{item.member_nick}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-button style="margin-bottom: 20px"  (click)="joinGroup(group)" expand="block" color="primary">加入群聊</ion-button>

</ion-content>
