.check_icon {
    font-size: 2.2rem;
    color: #1d2ce8;
}
.uncheck_icon {
    font-size: 2.2rem;
    color: #bfbaba;
}
ion-header {
    ion-text {
        font-size: 1.6rem;
        margin-right: 6px;
    }
}
