<ion-header>
  <ion-toolbar>
    <ion-title>
      行业类别
    </ion-title>
    <ion-text slot="end" (click)="selectArea()">确定</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of industryList">
      <ion-icon (click)="goChat(user)" *ngIf="!user.checked" class="uncheck_icon" slot="start" name="ellipse-outline">
      </ion-icon>
      <ion-icon (click)="goChat(user)" *ngIf="user.checked" class="check_icon" slot="start" name="checkmark-circle">
      </ion-icon>
      <ion-label (click)="goNext(user)">
        {{user?.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
