@import "../../../theme/dark-blue.scss";
ion-segment {
  padding: 0 2em;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;


  ion-segment-button {
    // max-width: 22%;

    .dealto {
      display: flex;
      flex-direction: row;
      align-items: center;

      ion-icon {
        margin-left: 1em;
      }
    }
  }
}

ion-item:last-child{
  --inner-border-width:0;
}
.checkCurrent {
  color: #3f51b5;
  border-bottom: 2px solid #3f51b5;
  --indicator-color: #3f51b5;
}

.swiper-slide {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.slide-zoom,
.swiper-slide {
  text-align: left;
}

ion-input {
  width: 94%;
  margin: 1em 3% 0;
  border-radius: 24px;
  border: 1px solid #3f51b5;
  background: #fff;
  --padding-start: 2.5em;
}

.todeteal {
  width: 94%;
  margin: 1em 3% 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(240, 240, 240, 1);
  border-radius: 10px;
  padding-left: 1em;
  padding-bottom: 4px;
  color: #666666;
  font-size: 1.2rem;
  position: relative;

  .deteal_left {
    width: 90%;
  }

  .deteal_btns {
    border-top: 1px solid #eeeeee;
    padding: 8px 1.2em;
    text-align: right;

    span {
      border-radius: 10px;
      padding: 2px 1.4em 3px;
      font-size: 1.1rem;
    }

    .refuse {
      color: #f56234;
      border: 1px solid rgba(245, 98, 52, 1);
    }

    .agree {
      color: #2aa2ea;
      border: 1px solid rgba(42, 162, 234, 1);
      margin-left: 1.2em;
    }
  }

  .status {
    position: absolute;
    right: 0;
    top: 12px;
    display: inline-block;
    background: #f56234;
    border-radius: 10px 0px 0px 10px;
    font-size: 8px;
    color: #fff;
    padding: 2px 11px 4px;
  }

  .agreed {
    background: #2aa2ea;
  }

  h6 {
    color: #333333;
    font-size: 1.3rem;
    margin-top: 12px;
  }

  p {
    margin: 6px 0;

    .machiningName {
      margin: 0 8px;
    }

    .diseaseItemName {
      display: inline-block;
      background: #f56234;
      border-radius: 2px;
      color: #ffffff;
      font-size: 0.8rem;
      padding: 1px 7px 2px;
    }
  }
}

.choose_title {
  width: 100%;
  //color: #333333;
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
}

.Single-list {
  width: 100%;
  padding: 0 1.2em;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  font-size: 1.4rem;
}
.nodata {
  text-align: center;
  font-size: 1.3rem;
  color: #999999;
  margin-top: 6em;
  img {
    width: 50%;
  }
}
ion-list {
  width: 100%;
  ion-text {
    font-size: 1.4rem;
  }
}
