<form action="javascript:return true;">
  <ion-searchbar placeholder="搜索" [(ngModel)]="search" type="search" [ngModelOptions]="{standalone:true}"
    (keypress)="goSearch($event)" (ionChange)="searchChange()">
  </ion-searchbar>
</form>
<ion-list *ngIf="linkmanList" >
  <ion-item *ngFor="let item of linkmanList.orgs" (click)="goNext(item)">
    <ion-label class="hightText" [innerHTML]="item.name"></ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="jian_icon"></ion-icon>
  </ion-item>
</ion-list>
<ion-list *ngIf="linkmanList">
  <ion-item *ngFor="let user of linkmanList.users" (click)="goChat(user)">
    <ion-thumbnail slot="start">
      <img *ngIf="user.pic_url" [src]="user.pic_url">
      <img *ngIf="!user.pic_url" src="assets/images/xearth.jpeg">
    </ion-thumbnail>
    <ion-label class="hightText" [innerHTML]="user?.name">
    </ion-label>
  </ion-item>
</ion-list>