<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <span>{{chatState}}</span>
  </ion-toolbar>
</ion-header>

<ion-content  class="chats">
  <div class="normalOperArea" [hidden]="!showOperAreaFlg">
    <div class="normalOperLine" (click)="groupChatPage()">
      <ion-icon name="people-outline" class="normalOperIon"></ion-icon>
      <label class="normalOperLabel">创建群组</label>
    </div>
  </div>
  <ng-container *ngIf="!isShowInfo">
    <ion-list *ngFor="let item of ChatList">
      <ion-item-sliding>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteChat(item)">删除</ion-item-option>
        </ion-item-options>
      <ion-item (click)="viewMessages(item)">
        <ion-avatar slot="start">
          <img *ngIf="item.pic_url&&(!item.pic_url.includes('http'))" [src]="api.picurl+item?.pic_url" />
          <img *ngIf="item.pic_url&&(item.pic_url.includes('http'))" [src]="item?.pic_url" />
        </ion-avatar>
        <ion-label>
          <h2>{{item?.account_nick}}</h2>
          <p *ngIf="item.text&&item?.text?.includes('<img')">图片</p>
          <p *ngIf="item.text&&item?.text?.includes('<video')">视频</p>
          <p *ngIf="item.text&&item?.text?.includes('<a')">文件</p>
          <p
            *ngIf="(!item?.text?.includes('<img')) && (!item?.text?.includes('<video')) && (!item?.text?.includes('<a'))">
            {{item?.text}}</p>
            <!-- <p>{{item.time}}</p>
            <p>{{item.dateparse}}</p> -->
        </ion-label>
        <ion-note slot="end" *ngIf="item?.time">{{item?.time | moment:"ago" | lowercase}}</ion-note>
       <ion-badge *ngIf="item.count && item.count > 0" slot="end" color="danger">{{item.count}}</ion-badge>
      </ion-item>
        </ion-item-sliding>
    </ion-list>
    <div class="nodata" *ngIf="noMessage">
      <img src="assets/images/nodata.jpg" alt="" />
      <p>暂无数据</p>
    </div>
  </ng-container>
  <ng-container *ngIf="isShowInfo">
    <app-wechatlist></app-wechatlist>
  </ng-container>
</ion-content>
