@import "src/theme/dark-blue";
ion-header {
  ion-toolbar {
    font-weight: bold;
    font-size: 1.7rem;
  }
}
.users {
  display: flex;
  align-items: center;
  .user_icon {
    font-size: 2.5rem;
    margin-left: 4px;
    color: #fff;
  }

}

