@import "src/theme/scss";
@import "src/theme/dark-blue";
ion-header {
  ion-text {
    font-size: 1.6rem;
    margin-right: 5px;
  }
}
ion-card-header {
  @include flexLayout(center, flex-start);
  ion-card-title {
    font-size: 2rem;
  }
  .country_img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin: 5px 1em 5px 0;
  }
  ion-icon {
    color: #f9b639;
    font-size: 2.4rem;
    margin-left: 1em;
  }
}

.descipte {
  @include exceedFlow(3);

  .desc {
    p {
      @include exceedFlow(3);
    }
  }
}

.area {
  @include exceedFlow(1);
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 8px;
  color: #000000;
}
