<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      意见反馈
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-textarea
            rows="6" cols="20" placeholder="您遇到的问题...">
    </ion-textarea>
  </ion-item>
      <div class="submit-btn">
        <ion-button expand="block" (click)="submit()"  color="primary">提交</ion-button>
      </div>
</ion-content>
