<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      修改经纬度
    </ion-title>
    <ion-text slot="end" (click)="Determine()">确定</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="searched">
    <ion-input [(ngModel)]="searchTbx"></ion-input>
    <ion-button size="small" (click)="Search()">搜索</ion-button>
  </div>

  <div id="MapBox" style="width: 100vw;height: 100vh;"></div>
</ion-content>