#MapBox {
    width: 500px;
    height: 500px;
}
.searched {
    display: flex;
    padding: 5px 1.2em;
    button {
        height: 1.8em;
    }
    ion-input {
        border: 1px solid #ededed;
        border-radius: 9px;
        margin-right: 1em;
        --padding-start: 1em;
        --padding-end: 1em;
    }
}
ion-header {
    ion-text {
        font-size: 1.6rem;
        margin-right: 6px;
    }
}
