@import "src/theme/scss";
ion-card-header {
  @include flexLayout(center, flex-start);
  ion-card-title {
    font-size: 2rem;
  }
  .country_img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin: 5px 1em 5px 0;
  }
}
ion-list {
  ion-item {
    --border-color: transparent;
    ion-icon {
      color: #f9b639;
    }
  }
}
