<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{params.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of typeList" (click)="goList(item)">
    <ion-card-content>
      <img [src]="item.textPicture" alt="" />
      <p>{{item.textTitle}}</p>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getListData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多数据..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
