<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      修改密码
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">旧密码</ion-label>
      <ion-input type="password" [(ngModel)]="feild.oldpwd"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">新密码</ion-label>
      <ion-input type="password" [(ngModel)]="feild.newpwd"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">确认密码</ion-label>
      <ion-input type="password" [(ngModel)]="feild.renewpwd"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button class="confirm_btn" expand="block" (click)="goConfirm()">确认</ion-button>
</ion-content>