<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      笔记
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item  button *ngFor="let item of list" >
    <div (click)="toView(item)">
      <h3>{{item.title}}</h3>
      <div>
      {{item.desc}}
      </div>
    </div>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="create()" class="ion-color ion-color-light">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
