@import "../../../../theme/scss.scss";
@import "src/theme/dark-blue";
ion-footer {
  ion-buttons {
    width: 100%;
    ion-button {
      width: 100%;
      text-align: center;
    }
  }
}
ion-content{
  font-size: 16px;
}
ion-item {
  ion-icon {
    color: #999999;
  }
}
.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  white-space: normal;
}
.nodata {
  text-align: center;
  font-size: 1.3rem;
  color: #999999;
  margin-top: 6em;
  img {
    width: 50%;
  }
}