<ion-list *ngFor="let item of treeDataes">
  <ion-item appDebounceClick [debounceTime]="500" (debounceClick)="transValueParent(item)">
    <!-- <ion-icon name="chevron-forward-outline" class="chevron" *ngIf="!item.open"></ion-icon>
    <ion-icon name="chevron-down-outline" class="chevron" *ngIf="item.open && item.org_name.includes('.pdf')"></ion-icon> -->
    <img class="user_img" src="/assets/images/wenjianjia.png" *ngIf="!item.open && !item.org_name.includes('.pdf') " />
    <img class="user_img" src="/assets/images/wenjianjia-down.png"
      *ngIf="item.open && !item.org_name.includes('.pdf')" />

    <img class="user_img" src="/assets/images/wenjian.png" *ngIf="item.org_name.includes('.pdf')" />

    <span>{{item.org_name}}</span>
  </ion-item>

  <div class="childs">
    <app-plan-list *ngIf="item.children && item.open" [treeDataes]="item.children"></app-plan-list>
  </div>

</ion-list>